# Node
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
build/
.vite/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/
bienv/

# SQLite databases
*.sqlite
*.sqlite3
*.db
backend/analysis.db

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Editor directories and files
.idea/
.vscode/
*.swp
*.core
